body main div.categorys .listCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  body main div.categorys .listCategory {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body main div.categorys .listCategory div {
  width: 25vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main div.categorys .listCategory div a {
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main div.categorys .listCategory div:hover {
  -webkit-box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1024px) {
  body main div.categorys .listCategory div {
    padding: 16px 0px;
    width: 100%;
    height: 100%;
  }
  body main div.categorys .listCategory div a {
    font-size: 24px;
  }
}

body main div.aboutService div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 1024px) {
  body main div.aboutService div {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body main div.aboutService div h3 {
  width: 50%;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  body main div.aboutService div h3 {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  body main div.aboutService div img {
    max-width: 100vw;
  }
}

body main div.listTeam .listTeamSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  body main div.listTeam .listTeamSecond {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body main div.listTeam .listTeamSecond div {
  width: 250px;
}

body main div.listTeam .listTeamSecond div img {
  border-radius: 15px;
  padding: 0px 6px;
}

body main div.buttonDiv {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212529;
  color: white;
}

body main div.buttonDiv h2 {
  margin-bottom: 42px;
}

body footer {
  background: #f8f9fa;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 20vh;
}
/*# sourceMappingURL=main.css.map */